.FormControl {
    width: 95%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../WeatherForm/searchicon.png);
    background-position: center right;
    background-size: 7%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 18px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}